# Byte-compiled / optimized / DLL files
__pycache__/

Output/
temp/
Test_data/
Spladder_files/
logs/
Expression_HiSat_files/
configs/Description_N.csv
.DS_store
.snakemake
.Rhistory
Spladder.pdf
Out_name.pdf
